# What is Python?
This language was developed by Guido Van Rossum in 1991. It's general purpose, high level, object oriented programming language.

Features of Python:
    1. Simple
    2. Structure Oriented
    3. Independent Platform
    4. Portable
    5. Flexible

### Python in Case Sensitive Language

In [1]:
# Simple print functioon
print("Hello World!")

Hello World!

In [2]:
# Upper function
name='nikita'
print(name.upper())

NIKITA

In [3]:
# Lower function
name='Nikita'
print(name.lower())

nikita

In [4]:
# Title function
name='nikita'
print(name.title())

Nikita

## String Manipulation

Anything enclosed within quotes is a string in python

In [5]:
string= 'my name is nikita'
print(string)
print(type(string))

my name is nikita
<class 'str'>

In [6]:
number= '2.3'
print(number)
print(type(number))

2.3
<class 'str'>

In [7]:
# capitalize() function will capitalize first letter just like title function
name='nikita'
print(name.capitalize())

Nikita

In [8]:
# Count() function will return how many times a word is present
text= "I love apples, apple are my favorite fruit"
print(text.count('apple'))

2

In [9]:
# endswith() function retuns True if the specified string ends with a specified word
text= "I love apples, apple are my favorite fruit."
print(text.endswith('.'))

True

In [10]:
# find()  method finds the first occurrence of the specified value
text= 'Hey, how are you?'
print(text.find('how'))

5

In [11]:
# find()  method finds the first occurrence of the specified value
text= 'Hey, how are you?'
print(text.find('hows'))

-1

In [12]:
# format() method formats a string
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [13]:
txt = "For only {price:} dollars!"
print(txt.format(price = 49))

For only 49 dollars!

In [14]:
text= "My name is {name} and I am {age} years old"
print(text.format(name='nikita',age=25))

My name is nikita and I am 25 years old

In [15]:
"My name is {}, I'm {}".format("John",36)

"My name is John, I'm 36"

In [16]:
# isalnum returns True if all the characters are alpha numeric in a string
text= 'nikita28'
print(text.isalnum())

True

In [17]:
text= 'nikita@28'
print(text.isalnum())

False

In [18]:
# isalpha() checks if all characters are alphabets or not
name= 'nikita'
print(name.isalpha())

True

In [19]:
name= 'nikita1'
print(name.isalpha())

False

In [20]:
# isdigit() finds if all characters are digits or not
number= '123'
print(number.isdigit())

True

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [21]:
# isidentifier checks if all characters are identifier in a string or not
text= 'nikita_28'
print(text.isidentifier())

True

In [22]:
text= 'nikita_@28'
print(text.isidentifier())

False

In [23]:
# isspace() returns True if all are whitespaces
name=' '
print(name.isspace())

True

In [24]:
name='a'
print(name.isspace())

False

In [25]:
# The join() method takes all items in an iterable and joins them into one string.
fruits= ('apple','mango','banana')
print(".".join(fruits))

apple.mango.banana

In [26]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [27]:
# lstrip removes spaces from the left
name= '    nikita'
print(len(name))
print(len(name.lstrip()))

10
6

In [28]:
# rstrip removes all spaces from te right 
name='nikita   '
print(len(name))
print(len(name.rstrip()))

9
6

In [29]:
# strip() will remove spaces from both the ends
name= '  nikita  '
print(len(name))
print(len(name.strip()))

10
6

In [30]:
# replace will replace the values in the string
string= 'my name is pooja'
newstring=string.replace('pooja','nikita')
print(newstring)

my name is nikita

In [31]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [32]:
string= 'Go to the gark'
print(string.replace('g','p'))

Go to the park

In [33]:
# Split a string into a list where each word is a list item
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [34]:
text= 'my name is nikita'
print(text.split())

['my', 'name', 'is', 'nikita']

In [35]:
# splitting by a special character
text= 'nikita@gmail.com'
print(text.split('@'))

['nikita', 'gmail.com']

In [36]:
#splits a string into a list where each line is a list item
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

### Indexing in strings

In [37]:
string= 'Hey, How are you?'

print(string[0])
print(string[3])

H
,

## Data Structures in Python

  ### 1. Lists
  ### 2. Tuples
  ### 3. Sets
  ### 4. Dictionary

# Lists
- Lists are data structures that can store any type of data. 
- It is mutable in nature that means it can be changed.
- Lists are enclosed within []

In [38]:
list = ['Nikita', 3, 4.5, True]

In [39]:
list

['Nikita', 3, 4.5, True]

In [40]:
# Print first element
print(list[0])

Nikita

In [41]:
# print last element
print(list[-1])

True

In [42]:
# print 3 elements
print(list[1:4])

[3, 4.5, True]

In [43]:
# Print first 2 elements using negative indexing
print(list[-3:-1])

[3, 4.5]

## Functions in Lists

In [44]:
# append() method is used to add new element at the end of the list

colours=["blue","green","red","yellow"]
colours.append('black')
print(colours)

['blue', 'green', 'red', 'yellow', 'black']

In [45]:
# appending one list to another

list1 = [1,2,3]
list2 = [10,20,30]

list1.append(list2)
print(list1)

[1, 2, 3, [10, 20, 30]]

In [46]:
# Clear() method will clear a list

list1 = ["blue","green","red","yellow"]
list1.clear()
list1

[]

In [47]:
# copy() will return copy of the list
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)
fruits.clear()
print(fruits)

['apple', 'banana', 'cherry', 'orange']
[]

In [48]:
# The count() method returns the number of elements with the specified value.

fruits = ['apple', 'banana', 'cherry', 'orange', 'apple', 'apple']
print(fruits.count('apple'))

3

In [49]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'apple', 'apple']
print(fruits.count('apples'))

0

In [50]:
# The extend() method adds the specified list elements (or any iterable) to the end of the current list.
fruits = ['apple', 'banana', 'cherry', 'orange']
new_fruit = ['grapes']
fruits.extend(new_fruit)
fruits

['apple', 'banana', 'cherry', 'orange', 'grapes']

In [51]:
fruits = ['apple', 'banana', 'cherry', 'orange']
new_fruit = ('grapes', 'mango')
fruits.extend(new_fruit)
fruits

['apple', 'banana', 'cherry', 'orange', 'grapes', 'mango']

## Difference between append and extend is append adds only one element at a time and extend can add multiple elements at the same time

In [52]:
# The insert() method inserts the specified value at the specified position.
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.insert(1,'Mango')
print(fruits)

['apple', 'Mango', 'banana', 'cherry', 'orange']

In [53]:
# index() returns the position of the word in the list

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
x

2

In [54]:
# The pop() method removes the element at the specified position.

fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)
fruits

['apple', 'cherry']

In [55]:
fruits = ['apple', 'banana', 'cherry']
fruits.pop()
print(fruits)

['apple', 'banana']

In [56]:
# The remove() method removes the first occurrence of the element with the specified value.
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

print(fruits)

['apple', 'cherry']

In [57]:
# The reverse() method reverses the sorting order of the elements.
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
fruits

['cherry', 'banana', 'apple']

In [58]:
# sort() method sorts a list

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [59]:
# sorted methods sorts the list in place

cars = ['Ford', 'BMW', 'Volvo']

print(sorted(cars))

print(cars)

['BMW', 'Ford', 'Volvo']
['Ford', 'BMW', 'Volvo']

In [60]:
# Sorting a list in reverse direction

list1 = [20, 30, 45, 2, 0]
print(list1)
list1.sort(reverse=True)
print(list1)

[20, 30, 45, 2, 0]
[45, 30, 20, 2, 0]

In [61]:
# del() method deletes element from teh specified position
fruits=['mango', 'banana', 'apple', 'grapes']
del fruits[1]
fruits

['mango', 'apple', 'grapes']

In [62]:
fruits=['mango', 'banana', 'apple', 'grapes']
del fruits[1:3]
fruits

['mango', 'grapes']

## Lists Comprehension

In [63]:
squares = [i**2 for i in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
add = [j+2 for j in range(1,6)]
add

[3, 4, 5, 6, 7]

In [65]:
# print only even numbers between 1 and 20
[x for x in range(1,21) if x%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
# print only those fruits which contain the letter a
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[x for x in fruits if 'a' in x]

['apple', 'banana', 'mango']

In [67]:
# print all fruits except apples
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[x for x in fruits if 'apple' not in x]

['banana', 'cherry', 'kiwi', 'mango']

In [68]:
# print numbers less than 10
[x for x in range(11) if x<10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
# sets values to upper case
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[x.upper() for x in fruits]

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [70]:
# sets all values in list to hello

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

['hello' for x in fruits]

['hello', 'hello', 'hello', 'hello', 'hello']

In [71]:
# return mango instead of banana

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

['mango'  if x=='banana' else x for x in fruits]

['apple', 'mango', 'cherry', 'kiwi', 'mango']

In [72]:
# return @ if number is even else $

['@' if x%2==0 else '$' for x in range(1,11)]

['$', '@', '$', '@', '$', '@', '$', '@', '$', '@']

In [73]:
# take an input and print consonants

string = input()
vowels='aeiou'

[x for x in string if x not in vowels]

nikita

['n', 'k', 't']

In [74]:
# take an input and print vowels

string = input()
vowels='aeiou'

[x for x in string if x  in vowels]

nikita

['i', 'i', 'a']

In [75]:
# remove floats from a list
list1= [1, 3.5, 20, 4.5, 100]

[x for x in list1 if type(x) == int]

[1, 20, 100]

In [76]:
# count the number of spaces in a string
string = 'my name is nikita'

s= [x for x in string if x==' ']

print(s)

print(len(s))

[' ', ' ', ' ']
3

In [77]:
# find comman numbers between 2 lists

list1 = [1,2,3,4]
list2 = [2,4,6]

[x for x in list1 if x in list2]

[2, 4]

In [78]:
# extract only the numbers from a string

string = 'In 1984 there were 13 instances of a protest with over 1000 people attending'
a= string.split()
print(a)
[x for x in a if x.isdigit()==True]

['In', '1984', 'there', 'were', '13', 'instances', 'of', 'a', 'protest', 'with', 'over', '1000', 'people', 'attending']

['1984', '13', '1000']

In [79]:
# print even if number is even else odd in the range 1 to 10

['Even' if x % 2==0 else 'Odd' for x in range(1,11)]

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [80]:
# Find all words wit length less than 4

string='On a summer day somner smith went simming in the sun and his red skin stung'
words= string.split()
[x  for x in words if len(x)<4]

['On', 'a', 'day', 'in', 'the', 'sun', 'and', 'his', 'red']

In [81]:
# use nested comphrehension to show numbers divisble by atleast one single digit number

result = [number for number in range(1,100) if True in [True for x in range(2,10) if number % x == 0]]
print(result)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99]

In [82]:
# Generate a list of tuples containing a number and its square

[(a,a**2) for a in range(1,11)]

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100)]

In [83]:
# Create a list of even numbers squared and odd numbers cubed from 1 to 10

[x**2 if x % 2 ==0 else x**3 for x in range(1,11)]

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [84]:
# Generate a list of common multiples of 3 and 5 up to 100

[x for x in range(1,101) if x%3==0 and x%5==0]

[15, 30, 45, 60, 75, 90]

In [85]:
# Create a list of reversed strings from another list

list1 = ['apple', 'banana', 'mango']

[x[::-1] for x in list1]

['elppa', 'ananab', 'ognam']

In [86]:
# Create a list of first characters from a list of words
list1 = ['apple', 'banana', 'mango']
[x[0] for x in list1]

['a', 'b', 'm']

In [87]:
# Generate a list of strings with their lengths from another list
list1 = ['apple', 'banana', 'mango']
[(x,len(x)) for x in list1]

[('apple', 5), ('banana', 6), ('mango', 5)]

In [88]:
# Generate a list of strings with vowels removed

strings = ["apple", "banana", "cherry"]
no_vowels = [''.join([char for char in word if char.lower() not in 'aeiou']) for word in strings]

no_vowels

['ppl', 'bnn', 'chrry']

# Tuples

- Tuples can store any type of data just like a list
- Tuple are ordered
- Tuples are immutable that means they cannot be changed
- Tuples are defined using ()

In [89]:
tuple1 = ('Nikita', 1, 3.5, False)
print(tuple1)

('Nikita', 1, 3.5, False)

In [90]:
# Accessing tuple elements
tuple1[0]

'Nikita'

In [91]:
tuple1[-1]

False

In [92]:
# Tuples can have duplicate values just like a list
tuple2 = ('Nikita', 1, 1, 3.5, False)
tuple2

('Nikita', 1, 1, 3.5, False)

In [93]:
# printing length of tuple
print(len(tuple2))

5

In [94]:
print(type(tuple1))

<class 'tuple'>

In [95]:
# Defining tuple with only one element, we need to add a comma at hen end
tuple3= (3,)
print(type(tuple3))
print(tuple3)

<class 'tuple'>
(3,)

In [96]:
tuple4= (4)
print(tuple4)
print(type(tuple4))

4
<class 'int'>

In [97]:
# Accessing multiple elements in a tuple
tuple1 = (1,2,3,4,5)
print(tuple1[1:3])

(2, 3)

In [98]:
# check if itme exists
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Change tuple elements
- This is directly not possible since tuples are immutable
- We can create a list from the tuple and change the element.
- Then again convert the list into a tuple

In [99]:
# unpacking in tuples
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [100]:
# If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [101]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [102]:
# Loop through a tuple
tuple1= ("apple", "mango", "papaya", "pineapple", "cherry")
for i in tuple1:
    print(i)

apple
mango
papaya
pineapple
cherry

In [103]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [104]:
# while loop
tuple1= ("apple", "mango", "papaya", "pineapple", "cherry")
i=0
while i < len(tuple1):
    print(tuple1[i])
    i=i+1

apple
mango
papaya
pineapple
cherry

In [105]:
# Joining two tuples
tuple1= ("apple", "mango", "papaya", "pineapple", "cherry")
tuple2= (1,2,3,4)
tuple3= tuple1+ tuple2
print(tuple3)

('apple', 'mango', 'papaya', 'pineapple', 'cherry', 1, 2, 3, 4)

In [106]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [107]:
tuple1 = (1,2,3,4,5)
for i in tuple1:
    print(i*3)

3
6
9
12
15

In [108]:
# count() method in tuple counts the occurence of an element in a tuple
tuple1 = (1,2,3,4,5,4,4,4)
print(tuple1.count(4))

4

In [109]:
# index() method finds the index of the element in a tuple
tuple1 = (1,2,3,4,5,4,4,4)
print(tuple1.index(4))

3

# Sets 
- Sets are unordered data structue
- Sets cannot have duplicate values
- Sets are immutable
- Sets are unindexed
- Sets are wrriten with curly brackets

In [110]:
# sets are unordered
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [111]:
# Sets cannot have duplicates
thisset = {"apple", "banana", "cherry", "banana", "banana", "grapes"}
print(thisset)

{'banana', 'cherry', 'grapes', 'apple'}

In [112]:
# the value True and 1 are considered same in sets
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [113]:
# Similarly, False and 0 are considered same
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'apple', 'cherry'}

In [114]:
# get the length of the set
thisset = {"apple", "banana", "cherry", False, True, 0}
print(len(thisset))

5

In [115]:
# Accessing set elements
# We cannot use indexing in sets, but we can use loop

thisset = {"apple", "banana", "cherry", False, True, 0}
for i in thisset:
    print(i)

False
True
banana
apple
cherry

In [116]:
# Add new items in a set
thisset = {"apple", "banana", "cherry", False, True, 0}
thisset.add('Mango')
print(thisset)

{False, True, 'banana', 'Mango', 'apple', 'cherry'}

In [117]:
# update method is used to add tuple to a tuple
thisset = {"apple", "banana", "cherry", False, True, 0}
thisset1= {1,2,3,4}
thisset.update(thisset1)
print(thisset)

{False, True, 2, 3, 4, 'banana', 'apple', 'cherry'}

In [118]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'apple', 'cherry', 'kiwi', 'orange'}

In [119]:
# remove() method is used to remove an element from a set
thisset = {"apple", "banana", "cherry"}
thisset.remove('apple')
print(thisset)

{'banana', 'cherry'}

### If the item does not exists remove will through an error. But discard method will not.

In [120]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("mango")
print(thisset)

{'banana', 'cherry', 'apple'}

In [121]:
# pop() method is used to remove the element, but you cannot be sure which element is removed
thisset = {"apple", "banana", "cherry"}
thisset.pop()
print(thisset)

{'cherry', 'apple'}

In [122]:
# clear() method empties a set
thisset = {"apple", "banana", "cherry"}
print(thisset)
thisset.clear()
print(thisset)

{'banana', 'cherry', 'apple'}
set()

In [123]:
# the del() method will delete teh set completly
thisset = {"apple", "banana", "cherry"}
del thisset

### Join sets
- Union
- Intersection
- Difference
- Symmetric Difference

In [124]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3= set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'c', 'a'}

In [125]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3=set1.intersection(set2)
print(set3)

set()

In [126]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3, "c"}

set3=set1.intersection(set2)
print(set3)

{'c'}

In [127]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [128]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 'b', 3, 'c', 'John', 'a', 'apple', 'cherry', 'Elena', 'bananas'}

In [129]:
# join a set and a tuple
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 'b', 3, 'c', 'a'}

In [130]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [131]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [132]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [133]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

# Dictionary
- Dictionary can store any type of data
- Dictionary is written with key value pairs and enclosed within {}
- Dictionary is ordered
- It cannot have duplicate key value pair
- It is changeable

In [134]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [135]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 1963
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1963}

In [136]:
# print length of items in a dictionary
print(len(thisdict))

3

In [137]:
print(type(thisdict))

<class 'dict'>

In [138]:
# dict() method is used to make a dictionary
thisdict = dict(name='Nikita', age=25)
print(thisdict)

{'name': 'Nikita', 'age': 25}

In [139]:
# accessing elements of a dictionary
print(thisdict["name"])

Nikita

In [140]:
# get() method is also used to get the value for the specified key
print(thisdict.get("name"))

Nikita

In [141]:
# keys() will return all the keys in a dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.keys())

dict_keys(['brand', 'model', 'year'])

In [142]:
# values() will return all values for the key in a dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.values())

dict_values(['Ford', 'Mustang', 1964])

In [143]:
# add a new element to a dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict['name']='Nikita'
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'name': 'Nikita'}

In [144]:
# items() will return each item in a dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [145]:
# change value for a key
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict['model']='Hyundai'
print(thisdict)

{'brand': 'Ford', 'model': 'Hyundai', 'year': 1964}

In [146]:
# update() is used to update the dictionary with new key value pair
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [147]:
# The pop() method removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop('model')
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [148]:
# popitem removes last element added to the dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [149]:
# The del keyword removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict['model']
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [150]:
# loop through the dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}


for x in thisdict:
    print(x)

brand
model
year

In [151]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}


for x in thisdict.keys():
    print(x)

brand
model
year

In [152]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}


for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [153]:
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
1964

In [154]:
for x,y in thisdict.items():
    print(x,y)

brand Ford
model Mustang
year 1964

In [155]:
# copy() method is used to copy a dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mydict=thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [156]:
mydict['name']='Nikita'
print(mydict)
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'name': 'Nikita'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [157]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [158]:
print(myfamily["child2"]["name"])

Tobias

# Dictionary Comprehension

In [1]:
square_dict = {num: num*num for num in range(1, 11)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [3]:
#item price in dollars
old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}

dollar_to_pound = 0.76

new_price = {key: value* dollar_to_pound for key, value in old_price.items()}
print(new_price)

{'milk': 0.7752, 'coffee': 1.9, 'bread': 1.9}

In [4]:
# print name and marks of only those students who scored even marks
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

updated_dict = {key: value for key, value in original_dict.items() if value%2==0}
print(updated_dict)

{'jack': 38, 'michael': 48}

In [5]:
# print name and marks of only those students whose marks are even and less than 40
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

updated_dict = {key: value for key, value in original_dict.items() if value%2==0 and value<40}
print(updated_dict)

{'jack': 38}

In [7]:
# print young if age is less than 40 else old

original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

new_dict = {key: 'Young' if value<40 else 'Old' for key, value in original_dict.items()}
print(new_dict)

{'jack': 'Young', 'michael': 'Old', 'guido': 'Old', 'john': 'Young'}

# Functions

- A function is a block of code which only runs when it is called.

- You can pass data, known as parameters, into a function.

- A function can return data as a result.

In [9]:
# Simple function to print Hello World

def simple():
    print('Hello World!!')
simple()

Hello World!!

In [10]:
# Function to print square of a number - Passing parameter or argument to a function

def square(a):
    print(a*a)
    
square(5)

25

In [12]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [13]:
# If the number of keyword arguments is unknown, add a double ** before the parameter name
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [16]:
# Passing a list as an argument

def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [18]:
# function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

def null_function():
    pass

null_function()

# Lambda Function 

- A lambda function is a small anonymous function
- It can take any number of arguments but only one expression
- lambda arguments: expression

In [159]:
# Add 10 to argument a, and return the result:
x = lambda a: a+10
print(x(3))

13

In [160]:
# Multiply argument a with argument b and return the result:
x = lambda a, b : a * b
print(x(3,5))

15

# Map Function

- The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

- Syntax: map(function, iterables)

In [22]:
def myfunc(n):
    return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))
print(x)
print(list(x))

<map object at 0x000001CDC3AE4EB0>
[5, 6, 6]

In [23]:
# Map with lambda

x= map(lambda a: a*a, [1,2,3,4])
print(x)
print(list(x))

<map object at 0x000001CDC3AE49A0>
[1, 4, 9, 16]

In [24]:
addd= map(lambda a : a>3,[1,2,3,4])


print(list(addd))

[False, False, False, True]

In [28]:
# Adding two lists

num1 = [1, 2, 3]
num2 = [10, 20, 40]

result = map(lambda n1, n2: n1+n2, num1, num2)
print(result)
print(list(result))

<map object at 0x000001CDC3AEF730>
[11, 22, 43]

# Filter Function

- The filter() function selects elements from an iterable based on the result of a function.

In [29]:
# print numbers greater than 2 only

num = [1,2,3,4,5]

x = filter ( lambda x: x>2, num)

print(x)
print(list(x))

<filter object at 0x000001CDC3AEF7F0>
[3, 4, 5]

In [32]:
# The same fucntion will behave differently with map

f = map(lambda a: a>2, [1,2,3,4,5])

print(f)

print(list(f))

<map object at 0x000001CDC3AEF9D0>
[False, False, True, True, True]

In [33]:
f = map(lambda a: a+2, [1,2,3,4,5])
print(f)
print(list(f))

<map object at 0x000001CDC3AEFE80>
[3, 4, 5, 6, 7]

# Reduce Function

#  <font color='red'>Questions</font>

### 1. Function to find maximum of 3 numbers

In [34]:
def max_num(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c
    
max_num(20, 40, 35)

40

### 2. Function to find sum of all numbers in a list.

In [35]:
def sum_func(l):
    sum=0
    for x in l:
        sum = sum + x
    return sum

sum_func([1,2,3,4,5])

15

### 3. Function to find multiplication of all numbers in a list.

In [37]:
def multi_func(l):
    multi = 1
    for x in l:
        multi = multi * x
    return multi

multi_func([1,2,3,4,5])

120

### 4. Function to reverse a string

In [38]:
def rev_string(string):
    return string[::-1]

rev_string('Nikita')

'atikiN'

### 5. Function to check if a string is palindrome or not.

In [45]:
def palindrome(string):
    if string.lower() == string[::-1].lower():
        print('String is a palindrome')
    else:
        print('String is not a palindrome')
palindrome('Radar')

String is a palindrome

### 6. Function to check whether a number falls within a given range.

In [47]:
# range : 0 to 100

def num_fall(num):
    if num in range(1,100):
        print('Number is in the range')
    else:
        print('Number is not in the range')
        
num_fall(390)

Number is not in the range

### 7. Function that accepts a string and count number of upper and lower case letters.

In [52]:
def upper_lower(string):
    lower = 0
    upper = 0
    for x in string:
        if x.islower() == True:
            lower = lower + 1
        else:
            upper = upper + 1
            
    print('There are', lower, 'lower characters') 
    print('There are', upper, 'upper characters') 
        
upper_lower('Nikita')

There are 5 lower characters
There are 1 upper characters

### 8. Function that takes a list and returns a new list with distinct elements

In [56]:
def distinct(lst):
    new_set = set(lst)
    new_list = list(new_set)
    return new_list

distinct([1,2,2,3,4,5,2,4,4])

[1, 2, 3, 4, 5]

In [57]:
# Another method
def distinct(lst):
    new_list = []
    for i in lst:
        if i not in new_list:
            new_list.append(i)
    return new_list

distinct([1,2,2,3,4,5,2,4,4])

[1, 2, 3, 4, 5]

### 9. Function to check if a number is prime or not.

In [102]:
def prime(num):
    if num == 1:
        print('It is neither prime nor composite number')
    elif num == 2 or num == 3:
        print('It is prime')
    else:
        for i in range(2,num):
            if num % i == 0:
                
                print('It is not prime as it is divisible by ', i)
               
                break
        else: 
            print('It is Prime')
        
prime(9)

It is not prime as it is divisible by  3

### 10. Function to print even numbers from a given list.

In [107]:
def even(lst):
    even_lst = []
    for i in lst:
        
        if i % 2 == 0:
            even_lst.append(i)
    print(even_lst)
        
even([1,2,3,4,5])

[2, 4]

### 11. Function to check whether a number is perfect or not

In [118]:
def perfect(num):
    divisors = []
    for i in range(1,num):
        if num % i == 0:
            divisors.append(i)
    print('Divisors are ',divisors)
    sum = 0
    for j in divisors:
        sum = sum + j
    print('Sum of divisors is',sum)
    if sum == num:
        print('The number is a perfect number')
    else:
        print('The number is not a perfect number')
        
perfect(28)

Divisors are  [1, 2, 4, 7, 14]
Sum of divisors is 28
The number is a perfect number

### 12. List Manipulation (List, map):

* **Prompt:** Define a function `square_list(numbers)` that takes a list of numbers and returns a new list containing the squares of each element. Use `map` for concise code.
* **Input:** `numbers = [1, 2, 3, 4]`
* **Expected Output:** `[1, 4, 9, 16]`

In [128]:
def square_list(numbers):
    return map(lambda x: x**2, numbers)
x = square_list([1,2,3,4])
print(list(x))

[1, 4, 9, 16]

### 13. Filtering Numbers (List, filter, lambda):

* **Prompt:** Create a function `get_even_numbers(numbers)` that filters a list of numbers to return only the even ones. Use `filter` and a lambda function for a clean approach.
* **Input:** `numbers = [10, 5, 2, 7, 13]`
* **Expected Output:** `[10, 2]`

In [131]:
def get_even_numbers(numbers):
    return filter(lambda x: x%2 ==0, numbers)
x= get_even_numbers([10, 5, 2, 7, 13])
print(list(x))

[10, 2]

### 14. Tuple Operations (Tuple):

* **Prompt:** Write a function `swap_first_last(my_tuple)` that takes a tuple and returns a new tuple with the first and last elements swapped. Ensure the function handles tuples of varying lengths.
* **Input:** `my_tuple = (1, "apple", True, 4.5)`
* **Expected Output:** `(4.5, "apple", True, 1)`

In [141]:
def swap_first_last(my_tuple):
    lst = list(my_tuple)
    temp=0
    temp = lst[0]
    lst[0]=lst[-1]
    lst[-1]=temp
    print(lst)
        
swap_first_last((1, "apple", True, 4.5))

[4.5, 'apple', True, 1]

### 15. Dictionary Creation (Dictionary):

* **Prompt:** Construct a function `count_letters(text)` that takes a string and returns a dictionary where keys are unique letters and values are their frequencies.
* **Input:** `text = "Hello, world!"`
* **Expected Output:** `{'H': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1, '!': 1}`

In [142]:
def count_letters(text):
    for i in text:
        return {i : text.count(i) for i in text}
    
count_letters('Hello World!')

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1}

### 16. List Comprehension Basics (List Comprehension):

* **Prompt:** Define a function `double_list(numbers)` that creates a new list by doubling each element of the original list using list comprehension.
* **Input:** `numbers = [5, 10, 15]`
* **Expected Output:** `[10, 20, 30]`

In [147]:
def double_list(numbers):
    return [x*2 for x in numbers]
double_list([5, 10, 15])

[10, 20, 30]

### 17. Conditional List Comprehension (List Comprehension):

* **Prompt:** Write a function `get_positive_numbers(numbers)` that filters a list and returns a new list containing only positive numbers using list comprehension with a conditional statement.
* **Input:** `numbers = [-2, 3, 0, 1, -4]`
* **Expected Output:** `[3, 1]`

In [148]:
def get_positive_numbers(numbers):
    return [x for x in numbers if x>0]

get_positive_numbers([-2, 3, 0, 1, -4])

[3, 1]

In [150]:
x= filter(lambda x: x>0, [-2, 3, 0, 1, -4])
print(list(x))

[3, 1]

### 18. Dictionary Comprehension Fundamentals (Dictionary Comprehension):

* **Prompt:** Develop a function `name_age_dict(data)` that takes a list of tuples (name, age) and creates a dictionary where names are keys and ages are values, using dictionary comprehension.
* **Input:** `data = [("Alice", 25), ("Bob", 30), ("Charlie", 22)]`
* **Expected Output:** `{'Alice': 25, 'Bob': 30, 'Charlie': 22}`

In [153]:
def name_age_dict(data):
    return {a:b for a,b in data}
name_age_dict([("Alice", 25), ("Bob", 30), ("Charlie", 22)])

{'Alice': 25, 'Bob': 30, 'Charlie': 22}

### 19. Dictionary Comprehension with Conditions (Dictionary Comprehension):

* **Prompt:** Construct a function `filter_adult_ages(data)` that converts a list of tuples (name, age) into a dictionary, excluding entries where age is less than 18, using dictionary comprehension with a conditional statement.
* **Input:** `data = [("Alice", 25), ("Bob", 16), ("Charlie", 22)]`
* **Expected Output:** `{'Alice': 25, 'Charlie': 22}`

In [155]:
def filter_adult_ages(data):
    return {a:b for a , b in data if b>18}
filter_adult_ages([("Alice", 25), ("Bob", 16), ("Charlie", 22)])

{'Alice': 25, 'Charlie': 22}

### 20. map Function with String Operations (map, lambda):

* **Prompt:** Design a function `uppercase_list(words)` that applies uppercasing to each word in a list using `map` and a lambda function.
* **Input:** `words = ["hello", "world", "python"]`
* **Expected Output:** `['HELLO', 'WORLD', 'PYTHON']`

In [160]:
def uppercase_list(words):
    x = map (lambda x:x.upper() , words)
    print(list(x))
uppercase_list(["hello", "world", "python"])

['HELLO', 'WORLD', 'PYTHON']